# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/
ENV/

# Postgres data volume
pgdata/

# Airflow logs and temp files
airflow/logs/
airflow/tmp/

# Environment variables
.env

# OS junk files
*.DS_Store
logs/
